{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Arthurs Antlers</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        {% include 'css/style.css' %}
    </style>
    <link href="{% static 'css/jquery.fullPage.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static '/assets/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/assets/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/photoswipe.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/default-skin.css' %}"/>
    <script src="https://use.fontawesome.com/57d09f83f7.js"></script>
</head>
<body>
{% autoescape off %}
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<div class="navbar-fixed">
    <nav role="navigation">
    <div class="nav-wrapper container-fluid black-text">
      <a id="logo-container" href="#" style="margin-left: 20px" class="brand-logo pale"><img height="50px" style="vertical-align: middle" src="{% static 'img/logo.png' %}"> Arthurs Antlers</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#about">ABOUT</a></li>
          <li><a href="#care">CARE</a></li>
           <li><a href="#products">PRODUCTS</a></li>
          <li><a href="#basket" class="modal-trigger">CART</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div id="fullpage">
    <div id="index-banner" class="parallax-container" style="min-height: 80vh">
    <div class="section no-pad-bot">
      <div class="container center">
          <div class="row center " style="height: 100%">
              <img class="img-responsive" src="{% static 'img/logo.png' %}" style="margin:40px auto" height="200px">
          </div>



      </div>
    </div>
    <div class="parallax"><img id="top_par" src="{% static 'img/wood.jpeg' %}" style="width: 100%"></div>
  </div>


  <div class="container-fluid prime">
    <div id="about" class="section scrollspy">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m8 center push-m2 pale">
            <img class="circle responsive-img" style="max-height: 200px" src="static/{{ info.first.image.url }}">
            <h5>{{ info.first.about_tom }}</h5>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot scrollspy">
      <div class="container">

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/deer.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container" style="overflow: -webkit-paged-x;">
    <div id="products" class="section scrollspy">

      <div class="row">
        <div class="col s12 center">
            <div class="row product-list responsive-products">
                {% for product in products %}
                    {% if product.available == True %}
                        <div id="product_item" class="simpleCart_shelfItem card responsive-horizontal black-text prime hoverable"
                             onclick="product_view({{ product.id }})" style="display: flex">

                            <div class="card-image">
                                <img src="static/{{ product.images.image1.url }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content pale">
                                    <input type="hidden" value="1" class="item_Quantity">
                                    <h5 id="p_title" class="item_name" >{{ product.name }}</h5>
                                    <p id="p_description">{{ product.description|truncatechars:200 }}</p>
                                <div class="card-action valign-wrapper" style="width: 100%">
                                    <h5 class="item_price left">£{{ product.price }}</h5>
                                    <button href="javascript:;" class="item_add btn-flat right pale flow-text">ADD TO CART</button>
                                </div></div>
                            </div>

                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
      <div id="all_products" class="row" style="display: none">
          {% for product in products %}
                    {% if product.available == True %}
                        <div id="product_container" class=" col s12 m6">
                        <div class="card responsive-horizontal black-text prime hoverable"
                             onclick="product_view({{ product.id }})">
                            <div class="card-image">
                                <img src="static/{{ product.images.image1.url }}">
                            </div>
                            <div class="card-stacked ">
                                <div class="card-content pale">
                                    <p>{{ product.description|truncatechars:200 }}</p>
                                </div>
                                <div class="card-action">
                                    <button class="btn-flat pale">ADD TO CART</button>
                                </div>
                            </div>
                        </div>
                        </div>


                    {% endif %}
                {% endfor %}
      </div>

      <button id="show_all" class="btn-flat" style="float: right;" onclick="show_all()">SHOW ALL</button>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div id="care" class="section no-pad-bot scrollspy">
      <div class="container">
                <div class="row center">
            <div class="card horizontal black-text translucent">
                <div class="card-image">
                <img src="{% static 'img/wallnut.jpg' %}">
            </div>
            <div class="card-stacked ">
                <div class="card-content ">
                    <p>{{ info.first.wood_info }}</p>
                </div>

            </div>
            </div>
            <div class="card horizontal black-text translucent">

            <div class="card-stacked ">
                <div class="card-content ">
                    <p>{{ info.first.antler_info }}</p>
                </div>

            </div><div class="card-image">
                <img src="{% static 'img/antler.jpg' %}">
            </div>
            </div>

        </div>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/wallnut.jpeg' %}" alt="Unsplashed background img 3"></div>
  </div>
</div>


  <footer class="page-footer prime">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">ARTHURS ANTLERS</h5>
            <ul>
                <li>
                    <a href="tel:07590995350" class="valign-wrapper grey-text text-lighten-4"><i class="icon_padding material-icons">phone</i> 07590995350</a>
                    <a href="mailto:arthursantlers@hotmail.com" class="valign-wrapper grey-text text-lighten-4"><i class="icon_padding material-icons">email</i> arthursantlers@hotmail.com</a>
                    <a href="https://www.instagram.com/arthurs.antlers/" class="valign-wrapper grey-text text-lighten-4"><i class="icon_padding fa fa-2x fa-instagram" aria-hidden="true"></i> @Arthurs.Antlers</a>
                    <a href="https://www.facebook.com/arthursantlers/" class="valign-wrapper grey-text text-lighten-4"><i class="icon_padding fa fa-2x fa-facebook" aria-hidden="true"></i>  @ArthursAntlers</a>
                </li>
            </ul>


        </div>
        <div class="col l3 s12 right right-align">
          <ul>
            <li><a class="white-text" href="#!">Shipping</a></li>
            <li><a class="white-text" href="#!">Terms & Conditions</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">GWCR Design</a>
      </div>
    </div>
  </footer>

{#  Product Modal  #}

<div id="product_modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m6">
                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                </div>
            </div>
            <div id="pro_info" class="col s12 m6" style="height: 100%;">
                <h5 id="pro_des"></h5>
                <div class="footer valign-wrapper bottom">
                    <h4 class="left" id="price"></h4>
                    <button class="btn-flat right">ADD TO CART</button>
                </div>
            </div>
        </div>

    </div>

  </div>



<div id="basket" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <div class="simpleCart_items"></div>
            </div>

        </div>
        <div class="modal-footer"><div class="row">
                <textarea id="comment-input" class="materialize-textarea"></textarea>
          <label for="comment-input">Comments</label>
            </div>
            <button href="javascript:" class="simpleCart_checkout right btn prime white-text">CHECKOUT</button>
        </div>

    </div>

  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/jquery.fullPage.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/slick/slick.min.js' %}"></script>
<script src="{% static 'js/photoswipe.js' %}"></script>
<script src="{% static 'js/photoswipe-ui.js' %}"></script>
<script src="{% static 'assets/js/simpleCart.js' %}"></script>

<script>
    {% include 'js/init.js' %}


</script>
{% endautoescape %}

  </body>
</html>
